/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
node_modules
.shadow-cljs/*
/node_modules
/resources/public/js/compiled
/.clj-kondo/*cache*
sqlite.5.db
.lsp/
.calva/
/data
jwt.key
*.~undo-tree~
.envrc
*.log