{reason-alpha.data.xtdb/db-name                     "dev"
 reason-alpha.data.xtdb/data-dir                    "data"
 reason-alpha.infrastructure.auth/tenant-id         "6nz7wwpb"
 reason-alpha.infrastructure.server/allowed-origins "http://localhost:8700"}
